doctype html
html
    head
        title Sailor Form
        meta(charset='utf-8')
        // Stylesheet
        link(rel="stylesheet", type="text/css", href="main.min.css")
        // Google Fonts
        link(href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")

    body
        form
           div
              label Full Name
              br
              input(placeholder='Your Name'
                 name='name'
                 type='text')
           div
              label Email
              br
              input(placeholder='Your Email'
                 name='email'
                 type='email')
           div
              label Age
              br
              input(placeholder='Your Age'
                 name='age'
                 type='number')
           div(id='lastDiv')
              label Your Message
              br
              textarea(name='email'
                 type='email')

           button(type='submit') SEND
